# docker-compose:
# config file which runs all the services (e.g. postgres, my application, kafka) in different containers

# Start using:
# docker compose up -d
# docker ps (to see the running containers)
# docker logs ride_postgres
# docker compose down

services: # services which make up the application
  postgres:
    image: postgres:16    # specifies the official postgres docker image to use
    container_name: ride_postgres
    environment:          # environment variables for the container
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rides  # name of default database to be created
    ports:
      - "5433:5432"       # maps port 5432 on host to port 5432 in container (allows my machine to connect to container)
    volumes:              # how to persist data (if container is removed, db persisted on host)
      - pgdata:/var/lib/postgresql/data # creates a volume called pgdata on my host and mounts it to /var/lib/postgresql/data in the container
    restart: unless-stopped

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: ride_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181 # Zookeeper listens to this port for client (Kafka) connections
      ZOOKEEPER_TICK_TIME: 2000   # Tick time (ms) for heartbeat, session timeout, syncing
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    hostname: kafka
    container_name: ride_kafka
    depends_on:
      - zookeeper # Starts Zookeeper first
    ports:
      - "9092:9092"
    environment:
      - KAFKA_BROKER_ID=1 # Kafka cluster consists of broker servers. Only assign 1 broker to this project
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes # Plain text = no TLS

      # Where Kafka itself binds to (listens to a network interface) in the container
      # Network Interface = logical/physical entity which connects a host to the network (so packets can be sent/received)
      # A host usually has multiple network interfaces

      # Kafka -> Listening to outside communication
      # <protocol>://<bind-host>:<port>
      # Here bind-host is empty, which defaults to 0.0.0.0 - which matches ALL network interfaces in the container
      # Need to listen to network interfaces inside + outside the Docker container
      # Outside = host mapped ports to container, Inside = other Docker containers (e.g. Kafka UI)
      - KAFKA_LISTENERS=PLAINTEXT://:9092
      # Outside clients -> communicating to Kafka broker (local machine's mapped port)
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - # Replicate topics across brokers for availability: only have 1 available broker
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1

volumes:
  pgdata:
