# The config file which Spring Boot reads from
# e.g. database URLs, ports, credentials, Kafka, Redis
# It's like a settings file for your application

# Spring will load these properties and inject them into application context
# You can create multiple application.yml files for each flavour: e.g. application-dev.yml
# Allows you to keep credentials and connection info out of your code

spring:
  application:
    name: ride-service

  # JPA = Java Persistence API - a set of rules which specify how Java objects are stored in relational DBs tables
  # Allows you to save/query entities

  # Spring JPA calls this other framework called Hibernate
  # Hibernate = ORM (Object Relational Mapping) library
  # Maps Kotlin/Java classes/objects to actual DB tables
  # e.g. when we have a Ride(id, riderId, pickup...) class in code, Hibernate maps it into SQL queries
  # like INSERT INTO rides (id, riderId...) VALUES...
  # so you don't have to write SQL yourself and just work with objects in memory
  jpa:
    hibernate:
      # How Hibernate handles the DB schema
      # If you're letting Flyway manage your schema, 'validate' is recommended
      ddl-auto: validate # Checks that existing DB matches entity definitions
    properties:
      hibernate:
        format_sql: true # Pretty printing to console
    show-sql: true       # Logs queries as they're executed

  # Flyway = DB migration tool which version controls your DB schema (like Git)
  # There's a flyway_schema_history table which tracks the migrations which have already been applied
  # On application startup, it runs the scripts which haven't been run before in src/main/resources/db/migration
  # Finds all the SQL scripts in src/main/resources/db/migration/ and runs them in order
  # when the app is launched
  flyway:
    enabled: true # Tell Spring to run Flyway migrations on startup
    baseline-on-migrate: true # If DB is non-empty: creates a baseline so it doesn't rerun old migrations

  data:
    web:
      pageable:
        default-page-size: 20
        max-page-size: 100
        one-indexed-parameters: false
      # When reading query params, sort page results using param named 'sort'
      # GET /rides?sort=createdAt,desc
      sort:
        sort-parameter: sort

  # How the application communicates with Kafka
  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: ride_service_consumers
      properties:
        spring.json.trusted.packages: "com.example.ride.*"

  profiles:
    active: dev

# The port for my application's HTTP server. REST API listens to this port
server:
  port: 8080

kafka:
  topics:
    rideRequests: ride-requests